/* ---------- Reset ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #f2f2f2;
  color: #111;
  display: flex;
  flex-direction: column;
}

/* ---------- Header ---------- */
header {
  background: #B59287;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  flex-shrink: 0;
}

header .logo img {
  height: 100px;
  object-fit: contain;
}

header nav a {
  margin-left: 30px;
  text-decoration: none;
  color:black;
  font-weight: 500;
  transition: 0.3s;
}

header nav a:hover {
  opacity: 0.8;
}

/* ---------- Carrinho ---------- */
.cart-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 80px;
  background: #fff;
  flex: 1;
  gap: 60px;
}

.cart-items {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  
}

.cart-item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.product-image {
  width: 90px;
  height: 90px;
  background-color: #ccc;
  overflow: hidden;
  border-radius: 6px;
  flex-shrink: 0;
   border:  solid #B59287;
  
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-info .title {
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 16px;
}

.product-info .desc {
  font-size: 14px;
  color: #333;
  line-height: 1.4;
}

/* ---------- Resumo do Carrinho ---------- */
.cart-summary {
  width: 25%;
  text-align: right;
  position: sticky;
  top: 100px;
}

.cart-summary .price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.cart-summary button {
  background: #F2C5BB;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.cart-summary button:hover {
  background:  #cfada5;
}

/* ---------- Rodapé ---------- */
footer {
  background:#B59287;
  padding: 25px 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  align-items: start;
  flex-shrink: 0;
}

footer .footer-section p {
  font-size: 14px;
  color: #111;
  line-height: 1.5;
}

footer .social {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  align-items: center;
}

footer .social a {
  color: #000;
  text-decoration: none;
  font-size: 20px;
}
