/* ===== ESTILO GERAL ===== */
body {
  background-image: url(img/capaLogin2.png);
  background-repeat: no-repeat;
  background-size:cover;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffff; /* Fundo da página */
}

/* ===== CONTAINER PRINCIPAL ===== */
.divPrincipal {
  width: 320px;
  padding: 30px 25px;
  background-color: #F2F2E9; /* Cinza do exemplo */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* ===== LOGO ===== */
.form-logo {
  max-width: 220px;  /* Tamanho da logo */
  height: auto;
  margin-bottom: 10px; /* Espaço entre logo e texto Login */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ===== TÍTULO LOGIN ===== */
.tituloLogin {
  text-align: center;
  font-size: 22px;
  color:#e67a62;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

/* ===== FORMULÁRIO ===== */
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

label {
  font-size: 14px;
  color:#e67a62;
}

.inputUsu,
.inputSenha {
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #e4d1cd;
}

/* ===== BOTÃO ENTRAR ===== */
input[type="button"] {
  padding: 10px;
  background-color: #F2C5BB;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

/* ===== LINK CRIAR CONTA ===== */
p {
  text-align: center;
  font-size: 13px;
  color: #555;
  margin-top: 10px;
}

p a {
  color: #333;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}
